TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

JAZZ_APP_ID=db-bench
JAZZ_DATA_DIR=.jazz
JAZZ_DATA_PATH=
JAZZ_SERVER_URL=https://v2.sync.jazz.tools/
JAZZ_BACKEND_SECRET=
BACKEND_SECRET=
JAZZ_ADMIN_SECRET=
JAZZ_DURABILITY_TIER=global
